body {
              background-color: #F0F7EE;
              font-family: 'Josefin Sans', sans-serif;
              font-size: 20px;
              margin: 0;
              color: #3d4852;
            }

            #header h1 {
              /* justify-content: center;
              text-align: left; */
              font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
              font-size: 28px;
              color: #F0F7EE;
              padding-left: 20px;
              float: left;
            }

            #header img {
              float: right;
              margin-right: 25px;
              margin-top: 10px;
            }

            #header {
              background-color: #095971;
              width: 100%;
              float: left;
              margin-bottom: 10px;
            }

            #map {
              float: left;
              position: relative;
              border:1px solid black;
            }

            #legend {
              font-family: Arial, sans-serif;
              background: #fff;
              padding: 10px;
              margin: 10px;
              border: 3px solid #000;
                display: none;
            }

            #legend h3 {
              margin-top: 0;
            }

            #legend img {
              vertical-align: middle;
            }

            #page_content {
              margin-left: 3%;
              margin-right: 3%;
              margin-top: 10px;
            }

            #map_options {
              margin-left: 70%;
            }

            #weather_container {
              margin-left: 70%;
            }

            #weather_heading {
              text-align: center;
              font-weight: 900;
              font-size: 20px;
              margin-bottom: 8px;
            }

            #weather_image {
              float: right;
              margin-right: 50px;
            }

            #wind_temp {
              float: left;
              margin-top: 13px;
            }

            #chart_container {
              float: right;
              margin-right: 2%;
            }

            #selection {
              margin-top: 20px;
              position: relative;
              float: left;
              text-align: center;
              width: 60%;
            }

            #button {
              background-color: #095971;
              border: none;
              color: white;
              padding: 15px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              margin-top: 20px;
              border-radius: 5px;
              float: right;
              margin-right: 18%;
            }

            #container1 {
              float: left;
              margin-left: 15%;
              margin-right: 6%;
            }

            #container2 {
              float: left;
              margin-top: 3px;
            }

            #dropTime {
              position: relative;
              display:inline-block;
              margin-top: 10%;
            }

            #selectTo {
              position:relative;
              display:inline-block;
              margin-top: 7%;
            }

            #analytics_chart {
              margin-right: 15px;
            }
          #results{
              position: relative;
              display: none;
              border-top-style: solid;
              border-bottom-style: solid;
              border-top-width: 1px;
              border-bottom-width: 4px;
              padding-left: 6%;
              padding-top: 1%;
              padding-bottom: 1%;
              padding-right: 6%;
              margin-top: 2%;
              clear: both;
              margin-right: 20%;
              border-color: #095971;
          }
